{% extends "abistuff/baselayout.html.twig" %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-10 col-sm-12">
                <div class="card">
                    <h5 class="card-header">Bankverbindung für Karten!</h5>
                    <div class="card-body">
                        Das sind die Kontodaten, wenn jemand das Geld für die Abiballkarten überweisen möchte:
                        <br><br>
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th>Empf&auml;nger&nbsp;&nbsp;&nbsp;</th>
                                <td>Fatih Catalkaya</td>
                            </tr>
                            <tr class="bg-grey">
                                <th>IBAN</th>
                                <td>DE62 2505 0000 0201 1257 62</td>
                            </tr>
                            <tr>
                                <th>BIC</th>
                                <td>NOLADE2HXXX</td>
                            </tr>
                            <tr class="bg-grey">
                                <th>Betreff</th>
                                <td>[Anzahl] Abiballkarten [Name des Käufers]</td>
                            </tr>
                            <tr>
                                <th>Beispiel</th>
                                <td>3 Abiballkarten Fatih Catalkaya</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}