{% extends "abistuff/baselayout.html.twig" %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="container">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Bankverbindung für Karten!</h3>
            </div>
            <div class="panel-body">
                Das sind die Kontodaten, wenn jemand das Geld für die Abiballkarten überweisen möchte.
                <br><br>
                <table>
                    <tbody>
                        <tr>
                            <td>IBAN:</td>
                            <td>DE62 2505 0000 0201 1257 62</td>
                        </tr>
                        <tr>
                            <td>BIC:</td>
                            <td>NOLADE2HXXX</td>
                        </tr>
                        <tr>
                            <td>Betreff:</td>
                            <td>[Anzahl] Abiballkarten [Name des Käufers]</td>
                        </tr>
                        <tr>
                            <td>Beispiel:&nbsp;&nbsp;&nbsp;</td>
                            <td>3 Abiballkarten Fatih Catalkaya</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}