{% extends "abistuff/baselayout.html.twig" %}

{% block title %}Veranstaltungen{% endblock %}

{% block body %}
    <div class="container">
        <br>
        <h1>Hier könnte demnächst etwas Sinnvolles stehen!</h1>
    </div>
{% endblock %}