{% extends "abistuff/baselayout.html.twig" %}

{% block title %}Administration{% endblock %}

{% block body %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Neuen Benutzer anlegen</h3>
            </div>
            <div class="panel-body">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}